html{
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #555555;
}
img{
	padding: 10px;
	border: 1px solid #ddd;
}
a,
a:visited{
  color: #0b77d4;
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:focus{
  color: #004076;
  text-decoration: none;
}
h1,
h2{
	text-transform: capitalize;
}
.btn{
	padding: 15px 30px;
	border: 1px solid #ddd;
	background-color: #0b77d4;
	color: #fff !important;
}
.btn:hover,
.btn:focus{
	background-color: #0b77d4 !important;
	color: #fff !important;
}
.loader{
	border: 0;
	text-align: center;
}
.show{
	display: block !important;
}
.container{
	width: auto;
	max-width: 768px;
	padding: 0 20px;
	margin: 0 auto;
}
.article{
	border-bottom: 1px solid #ddd;
	padding: 20px 0 10px;
}
#pagination{
	margin: 40px 0;
	text-align: center;
}
#comments{
	padding: 10px;
	margin: 20px 0 0 0;
}
#article-edit-form,
#comment-edit-form{
	display: none;
}
.comment{
	padding: 20px;
}
.comment .left-column{
	float: left;
	width: 90px;
	margin-right: 20px;
}
.comment-date{
	margin-bottom: 20px;
}
.comment .right-column{
	margin-left: 110px;
}
.comment .right-column > div{
	margin-bottom: 5px;
}